%html
  %head
    %script{src: "bundle.js"}
    :css
      .editing div {
        display: none;
      }
      .todos .complete {
        color: #a9a9a9;
        text-decoration: line-through;
      }
  %body
    #main
